<div class="main">
  <div class="flex justify-center">
    <img
      width="300"
      height="300"
      src="./images/profile.jpg"
      alt=""
      class="profile-img"
    />
    <div class="ml-2">
      <ContactBox />
      <Box color="black" class="my-2 text-center">
        <h2>Mr. Kantanat Siripipatworakun</h2>
      </Box>
      <InterestBox />
    </div>
  </div>
  <IntroduceBox />
  <SkillBox />
  <SystemBox />
  <ExperienceBox />
  <EducationBox />
  <div class="flex justify-center no-print mt-1">
    <button (click)="print()">print as PDF file</button>
  </div>
</div>
